<form method="post" enctype="multipart/form-data">
    <div>
        <!--Campo image es el que se definio en la ruta-->
        <input type="file" name="image">
    </div>
    <div>
        <button>Enviar</button>
    </div>
</form>