<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Mi página web</title>
    <link rel="stylesheet" href="/static/styles/estilos.css">
</head>
<body>
    <header>Mi app</header>
    <main> {{{body}}} </main>
    <footer>ITESO 2025</footer>
</body>
</html>